---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
import type { storedData } from '../services/interfaces';
import { $recipeData } from '../store/recipeData';

const data: storedData = $recipeData.get();

---

<Layout title="Rob's Recipes | Home">
	<h1 class="text-5xl font-bold text-center">Welcome to Rob's Recipes</h1>
	<div class="flex flex-wrap justify-center gap-2">
		{data.recipes.map(recipe =>
		<Card href=`/recipes/${recipe.id}/${recipe.slug}.html` title={recipe.title} img={recipe.image_url} servings={recipe.servings}/>
		)}
	</div>
</Layout>
