---
const { href, title, img, servings } = Astro.props;
---

<a href={href} class="w-40 rounded-lg hover:shadow overflow-hidden text-white text-center bg-black hover:scale-105 transition-all">
  <img class="w-full h-40 object-cover object-center" src={img} alt=`${title} thumbnail`>
  <h3 class="font-bold pt-2 p-4">{title}</h3>
  <p>Servings: {servings}</p>
</a>