---
import Card from "./Card.astro";

const { href, title, img, servings, description } = Astro.props;
---
<article class="w-[200px]">
  <Card href={href} title={title} img={img} />
  <div class="flex flex-col">
    <a href={href}><h5 class="truncate font-heading text-lg hover:text-sky-700">{title}</h5></a>
    <p class="text-sm leading-none">{description}</p>
  </div>
</article>